* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 59px 0;
}

.container {
    max-width: 1142px;
    padding: 0 16px;
    margin: 0 145px 0 185px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 58px;
    &__title {
        margin-left: -9px;
        max-width: 458px;
        font-family: poppins-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 62px;
        letter-spacing: .8px;
        color: #323232;
    }
    &__text {
        display: inline-block;
        margin-left: auto;
        max-width: 398px;
        font-family: poppins-normal;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 1.03px;
        color: #606060;
    }
}

.info::before {
    content: '';
    width: 80px;
    height: 80px;
    background-image: url(../media/Shape.svg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translate(50%, -50%);
}

.info {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.item {
    max-width: 350px;
    position: relative;
    text-decoration: none;
    border-radius: 0px 0px 5px 5px;
    &__btn {
        background-image: url(../media/Playbtn.svg);
        width: 50px;
        height: 50px;
        position: absolute;
        left: 80%;
        right: 5.71%;
        top: 31.53%;
        bottom: 56.71%;
        opacity: 0;
        border: none;
        background-color: transparent;
        transition: opacity .5s linear;
    }
}

.btmText {
    padding: 30px;
    display: inline-block;
    &__text {
        max-width: 292px;
        font-family: poppins-normal;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 1.04px;
        color: #323232;
        margin-bottom: 24px;
    }
    &__name {
        font-family: poppins-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.6px;
        color: #323232;
    }
    &__city {
        font-family: poppins-normal;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 1.15px;
        color: #58BEBF;
    }
}

.item:hover {
    cursor: pointer;
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
    .btmText {
        &__city {
            font-family: poppins-normal;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 1.15px;
            color: #F78434;
        }
    }
}

.item:hover .item__btn {
    opacity: 1;
}