@font-face {
    font-family: "poppins-normal";
    src: url(../fonts/poppins/Poppins-Medium.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "poppins-bold";
    src: url(../fonts/poppins/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}