* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

.title {
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 70px;
    text-align: center;
    line-height: 42px;
    font-style: normal;
    font-weight: normal;
    position: relative
}

h2::after {
    content: '';
    width: 60px;
    height: 2px;
    border-top: 1px solid #E72424;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(100% + 25px);
}

h3 {
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

li {
    list-style-type: none;
}

.btn {
    padding: 11px 26px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.btn:hover {
    background: #422323;
    cursor: pointer;
}

main::before {
    display: block;
    content: "";
    width: 100%;
    height: 66px;
}

.input:hover {
    border-bottom: 1px solid #EC7979;
}

.input:focus {
    outline: none;
    border: 1px solid #EC7979;
    border-radius: 5px;
}


/* header block */

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #000000;
    padding-top: 20px;
    padding-bottom: 19px;
}

.logo {
    width: 68px;
    display: inline-block;
}

.logo:hover {
    filter: invert(80%);
}

.logo img {
    width: 100%;
}

.nav-list {
    display: flex;
}

.nav-list__item {
    margin-right: 48px;
}

.nav-list__link:hover {
    color: #fff;
}

.nav-list__item:last-child {
    margin-right: 0;
}

.nav-list__link {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    text-decoration: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* axit block */

.axit {
    position: relative;
    padding-top: 108px;
    padding-bottom: 101px;
    background-image: url(../media/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.axit::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.axit .container {
    z-index: 1;
    position: relative;
}

.axit-info {
    display: flex;
    justify-content: left;
    max-width: 544px;
}

.axit-logo {
    width: 129px;
    margin-bottom: 32px;
}

.axit-title {
    color: #fff;
    text-align: left;
    margin-bottom: 71px;
    max-width: 544PX;
}

.axit .axit-title::after {
    border-top: 1px solid #fff;
    display: inline-block;
    position: absolute;
    left: 0;
    transform: translate(0, 0);
    top: calc(100% + 25px);
}

.axit-text {
    margin-bottom: 39px;
    text-align: left;
    max-width: 282px;
    word-wrap: normal;
}

.axit__info {
    margin-right: 265px;
}

.axit-btn {
    display: flex;
    background-color: transparent;
    align-self: flex-start;
    color: #fff;
    border: solid 1px #fff;
}

.axit .container {
    display: flex;
    align-items: center;
}

.color {
    color: #EC7979;
    text-transform: uppercase;
}

.form-block {
    overflow: hidden;
    padding-top: 20px;
    width: 100%;
    background-color: #Fff;
    max-width: 370px;
    border-radius: 8px;
}

.form__title {
    margin-bottom: 44px;
}

.input {
    width: 100%;
    max-width: 252px;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 19px;
    margin: 0 auto 10px;
}

.input::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.input:last-of-type {
    margin: 0 auto;
    display: block;
}

.form__btn {
    background-color: #EC7979;
    border: none;
    color: #fff;
    width: 100%;
    margin-top: 61px;
}

.form__title {
    text-align: center;
}


/* social media */

.social {
    padding: 14px 0 17px;
    background-color: #F8EFEF;
}

.social .container {
    display: flex;
}

.social__info {
    display: inline-block;
    max-width: 365px;
    text-align: left;
    margin-right: 129px;
}

.social__title {
    margin-bottom: 14px;
}

.social__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social__img {
    margin-right: 65px;
    filter: invert(70%);
}

.social__img:hover {
    filter: invert(50%);
}

.social__img:last-child {
    margin-right: 0;
}

.social__img img {
    height: 42px;
    width: 42px;
}


/* TABS BLOCK */

.tabs {
    padding-top: 125px;
    padding-bottom: 125px;
}

.tabs .container {
    display: flex;
}

.tabs-block {
    width: 112px;
    margin-right: 118px;
}

.tabs-content {
    width: calc(100% - 112px - 118px);
    display: flex;
}

.tabs-block__item {
    width: 100%;
    display: flex;
    height: 110px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #333333;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.tabs-block__item:hover {
    cursor: pointer;
    background-color: #a74f4f;
    border: none;
}

.tabs-block__item:last-child {
    margin-bottom: 0;
}

.tabs-block__item.active {
    background-color: #EC7979;
    border: none;
}

.tabs-img {
    width: 320px;
    height: 253px;
    background-image: url(../media/3.png);
    background-position: center;
    background-size: cover;
    margin-left: 50px;
    margin-top: 30px;
}

.tabs-content__info {
    width: calc(110% - 320px - 50px);
    position: relative;
}

.tabs-content__text {
    text-align: left;
}

.tabs-content__title {
    margin-bottom: 58px;
}

.tabs-content__text {
    text-transform: uppercase;
    margin-bottom: 19px;
}

.tabs-content__text:last-child {
    margin-bottom: 0;
}

.tabs-content__btn {
    position: absolute;
    top: 350px;
    left: 0;
    transform: translateY(-100%);
    color: #fff;
    background-color: #EC7979;
    border: none;
}


/* awesome block */

.awesome {
    padding-top: 80px;
    padding-bottom: 116px
}

.awesome-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.awesome-text {
    margin-bottom: 68px;
}

.awesome-block__item {
    max-width: 100%;
    margin-right: 23px;
    width: calc((100% - 46px) / 3);
}

.awesome-block__item:last-child {
    margin-right: 0;
}

.awesome-block__img {
    display: block;
    margin: 0 auto 30px;
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
}

.awesome-block__img img {
    width: 23px;
    height: 30px;
    margin: 20px 0;
}

.awesome-block__title {
    margin-bottom: 16px;
    text-align: center;
}


/* price block */

.price-block {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #F5F5F5;
}

.price-block .container {
    max-width: 1150px;
}

.price-text {
    margin-bottom: 62px;
}

.price-item {
    display: flex;
    justify-content: center;
}

.price-list {
    display: flex;
    align-content: center;
    flex-direction: column;
    max-width: 100%;
    margin-right: 78px;
    width: calc((100% - 78px - 78px) / 3);
}

.price-list:last-child {
    margin-right: 0;
}

.price-list:nth-child(2) {
    margin-top: -15px;
}

.price-list__item {
    margin-bottom: 2px;
    padding: 10px 0;
    background-color: #fff;
}

.price-list__item:first-child {
    margin-bottom: 1px;
}

.price-list__item:nth-child(2) {
    padding: 26px 0 33px;
}

.price-list__item:nth-child(3) {
    margin-bottom: 4px;
}

.black {
    padding: 15px 0 8px;
    background-color: #333333;
}

.black__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #fff;
}

.big__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}


/* comment block */

.comments {
    padding-top: 80px;
    padding-bottom: 120px;
}

.comments .container {
    max-width: 1118px;
}

.comments__text {
    margin-bottom: 53px;
}

.comments-block__item {
    max-width: 298px;
}

.comments-block {
    display: flex;
    justify-content: space-between;
}

.comments-block__img {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments-block__img img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}

.comments-block__info {
    display: flex;
    justify-content: center;
}

.comments-block__text {
    padding: 15px;
    display: block;
    text-align: center;
    color: #86878B;
    white-space: pre-line;
    line-height: 19px;
    background: #E2E2E2;
    margin: 0 0 16px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.comments-block_about {
    margin-top: 22px;
    margin-bottom: 120px;
    padding-top: 14px;
}

.comments-block__job {
    margin-top: 12px;
    text-align: right;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}


/* btn block*/

.wrapper-design {
    background-image: url(../media/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 57px;
    position: relative;
}

.wrapper-design::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.wrapper-design .container {
    color: #fff;
    z-index: 1;
    position: relative;
}

.wrapper-design .title::after {
    border-top: 1px solid #fff;
}

.wrapper-design__title {
    color: #fff;
}

.wrapper-design__text {
    color: #fff;
    margin-bottom: 30px;
}

.btn-white {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}


/* contact block */

.contact {
    padding: 80px 0 44px;
}

.contact-text {
    margin-bottom: 91px;
}

.contact-btn {
    background-color: #EC7979;
    border: 1px solid #FFFFFF;
    color: #fff;
    max-width: 166px;
    margin: 0 auto;
}

.contact__form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact__input {
    max-width: 478px;
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 32px;
    margin-left: 0;
}

.contact__input:last-of-type {
    padding-bottom: 46px;
    margin-bottom: 68px;
    margin-left: 0;
}

.contact__message {
    resize: none;
    width: 100%;
    height: 100%;
    height: 252px;
    max-width: 478px;
    position: absolute;
    right: 0;
}


/* footer */

.footer {
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
}

.footer__links {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.links__img {
    filter: invert(70%);
    margin-right: 31.2px;
}

.links__img img {
    width: 23px;
    height: 23px;
}

.links__img:last-child {
    margin-right: 0;
}

.links__text {
    font-size: 12px;
    line-height: 16.34px;
}

.links__img:hover {
    filter: invert(100%);
}